
  
.demo {
    /* for IE10+ touch devices */
    touch-action:none;
}

.jtk-demo-canvas {    
    height:550px;
    /*max-height:700px;
    border:1px solid #CCC;
    background-color:white;*/
    display: flex;
    position:absolute;
    top:5px;
}
.canvas-wide {
    margin-left:0;
}

/** JSPLUMB ARTEFACTS **/
.jtk-overlay {
    z-index: 51;
}

.jtk-endpoint {
    z-index: 50;
    cursor: move;
}

.jtk-connector {
    z-index: 1;
}

/** ELEMENTS **/
.littledot
{
    cursor: pointer;
    width: 12px;
    height: 12px;
    background-image: url(littledot.png);
    z-index: 5;
    position: absolute;
    border-radius: 31px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}
.cmdLink detach{
  margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}


.littledot-hover-hover {
    border: 2px solid orange;
}

.dropHover {
    border: 1px solid orange;
}

/** ELEMENT POSITIONS **/
#ld1 {
 position: absolute;
    top: 80px;
    left: -200px;
}



#ld3 {
 position: absolute;
    top:65px;
    left:-145px;
}

#ld4 {
 position: absolute;
    top: 62px;
    left:-5px;;
}

#ld5 {
 position: absolute;
    top:120px;
    left:220px;
}
#ld6 {
 position: absolute;
    top:120px;
    left:260px;
}

#ld7 {
 position: absolute;
    top: 12px;
    left: 17px;
}

#ld8 {
 position: absolute;
    top: 15px;
    left:50px;
   
}
#ld10 {
 position: absolute;
    top: 15px;
    left: 120px;
}

#ld11 {
 position: absolute;
    top: 15px;
    left:170px;
   
}

#ld9 {
 position: absolute;
    top:220px;
    left:-200px;
}
#ld13 {
 position: absolute;
    top:155px;
    left:-20px;
}
#ld14 {
 position: absolute;
    top:152px;
    left:25px;
}
#ld15 {
 position: absolute;
    top: 50px;
    left: 93px;
}
#ld16 {
 position: absolute;
    top:220px;
    left:95px;
}
#ld17 {
 position: absolute;
    top: 60px;
    left: 175px;
}
#ld18 {
 position: absolute;
    top:220px;
    left:175px;
}
#ld19 {
 position: absolute;
    top: 115px;
    left: 95px;
}

#ld12 {
 position: absolute;
    top: 273px;
    left: -85px;
    
}
path, .jtk-endpoint {
    cursor: pointer;
}
